.contenido{
    margin-top: 4rem !important
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #212529;
    margin-bottom: 0px;
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: black;
}

.footer-adress-icons{
    padding-right: 10px;
}

.carousel-item img{
    height: 320px;
}