@coloresBasicos: #0876e4;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.contenido{
    margin-top: 4rem !important
}
.navbar{
    background-color: @coloresBasicos;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: @coloresBasicos;
    .margenes(5px, 0px);
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: black;
}

.footer-adress-icons{
    padding-right: 10px;
}

.carousel-item img{
    height: 320px;
    .margenes(5px, 0px);
}