.contenido {
  margin-top: 4rem !important;
}
.navbar {
  background-color: #0876e4;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #0876e4;
  margin-top: 5px;
  margin-bottom: 0px;
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  color: black;
}
.footer-adress-icons {
  padding-right: 10px;
}
.carousel-item img {
  height: 320px;
  margin-top: 5px;
  margin-bottom: 0px;
}
