$coloresBasicos: #1c7fe2;
$colorRojo: #ff0000;
$colorAmarrilo: #fbff00;
$colorVerde: #15ff00;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.contenido{
    margin-top: 4rem !important;
}
.navbar{
    background-color: $colorRojo;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: $colorRojo;
    @include margenes(5px, 0px);
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: black;
}

.footer-adress-icons{
    padding-right: 10px;
}

.carousel-item img{
    height: 320px;
    @include margenes(5px, 0px);
}